[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
boto3 = "*"
pynamodb = "*"
pytz = "*"
requests = "*"
decorator = "*"
"mastodon.py" = "==1.8.0"
sourcemap = "*"

[dev-packages]
pylint = "*"

[scripts]
format = "black backendpy"
lint = "pylint backendpy"
test = "python -m unittest discover backendpy"

[requires]
python_version = "3.13"
