[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
boto3 = "*"
pynamodb = "*"
pytz = "*"
requests = "*"
decorator = "*"
"mastodon.py" = "*"

[dev-packages]
pylint = "*"

[scripts]
format = "black handler.py models.py test"
lint = "pylint handler.py models.py test"

[requires]
python_version = "3.9"
