[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
boto3 = "*"
pynamodb = "*"
pytz = "*"
requests = "*"
decorator = "*"
"mastodon.py" = "*"
sourcemap = "*"

[dev-packages]
pylint = "*"

[scripts]
format = "black models.py client.py server.py shared.py other.py utils.py  test"
lint = "pylint models.py client.py server.py shared.py other.py utils.py test"
test = "python -m unittest discover test"

[requires]
python_version = "3.9"
