.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

th {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: left;
}

table {
  border-spacing: 0;
}

.usercell {
  padding: 0;
  padding-right: 4px;
  border-right: 1px solid lightgray;
}

.cell {
  cursor: arrow;
  user-select: none;
  border-right: 1px solid lightgray;
  border-bottom: 1px dashed #eee;
  padding: 0;
  text-align: center;
}

.userpop {
  max-width: 400px;
}
