th {
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
}

span.listTitle {
  writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
}

table {
  border-spacing: 0;
}

.usercell {
  padding: 0;
  padding-right: 4px;
  border-right: 1px solid lightgray;
  width: 300px;
}

.cell {
  cursor: arrow;
  user-select: none;
  border-right: 1px solid lightgray;
  border-bottom: 1px dashed #eee;
  padding: 0;
  text-align: center;
}

.userpop {
  max-width: 400px;
}

div.listname div.icon {
  display: inline;
  writing-mode: horizontal-tb;
  transform-origin: 12px 12px;
  transform: rotate(180deg);
  visibility: hidden;
}

div.listname:hover div.icon {
  visibility: visible;
}

div.group {
  font-size: 12pt;
  cursor: pointer;
  background-color: #eee;
}

.followerTable {
  margin-bottom: 12px;
}

.followerTable thead {
  position: sticky;
  top: 0px;
  background-color: white;
}
